<h1>New Bank</h1>

<%= form_for @bank do |form| %>
  <fieldset>
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </fieldset>

  <fieldset>
    <%= form.label :public %>
    <%= form.text_field :public %>
  </fieldset>

  <fieldset>
    <%= form.label :private %>
    <%= form.text_field :private %>
  </fieldset>

  <%= form.submit %>
<% end %>
