<h1>New Transaction</h1>

<%= form_for @transaction do |form| %>
  <fieldset>
    <%= form.label :note %>
    <%= form.text_field :note, autofocus: true %>
  </fieldset>

  <fieldset>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </fieldset>

  <fieldset>
    <%= form.label :bank %>
    <%= form.collection_select(:bank_id, Bank.all, :id, :name) %>
  </fieldset>

  <fieldset>
    <%= form.label :applied_at %>
    <%= form.text_field :applied_at, value: Date.today %>
  </fieldset>

  <%= form.submit %>
<% end %>
