<!DOCTYPE html>
<html>
  <head>
    <title>Financio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "header" %>
    <main class="container">
      <%= yield %>
    </main>
    <%= javascript_include_tag "application" %>
  </body>
</html>
